{
    "ServerPath": "/home/rice/.starbound/linux64/starbound_server",
    "LogFile": "",
    "ServerAddress": "localhost:21024",
    "ProxyAddress": "0.0.0.0:21025",
    "Password": "changethis",
    "MOTD": "Welcome to Starry!",
    "FirstConnectItems": {
        "coalore": 100
    },
    "Admins": [
        {
            "Name": "Tom",
            "Uuid": "17943f2ec4f6edb83ae33bbc820c312d"
        },
        {
            "Name": "Fun fun",
            "Uuid": "d69d7ff4684f316af200acc4036dbcbc"
        }
    ],
    "Bans": [],
    "Remembered": [
        "17943f2ec4f6edb83ae33bbc820c312d",
        "89e16f2ce2fe686552820db2a3b5abde",
        "d69d7ff4684f316af200acc4036dbcbc",
        "8291fa64ff299a2dc6ced36072d1cf39",
        "ab33e4be16205bf1430d18de1e712522"
    ]
}
