{
    "ServerPath": "/home/rice/.starbound/linux64/starbound_server",
    "LogFile": "",
    "ServerAddress": "localhost:21024",
    "ProxyAddress": "0.0.0.0:21025",
    "Password": "changethis",
    "MOTD": "Welcome to Starry!",
    "Admins": [
        {
            "Name": "Tom",
            "Uuid": "17943f2ec4f6edb83ae33bbc820c312d"
        }
    ],
    "Bans": []
}
